p Hi there. I am Mikhail Balashov and I am fullstack developer. I use Angular, React, Redux, Webpack, Gulp, Express, Yii2 and others for development
p This site is under construction but I beleave it will be my blog soon
p You can write me on email: #[a(href="mailto://stealracoon@gmail.com") stealracoon@gmail.com]