p Добрый день. Я Балашов Михаил - fullstack developer. Использую такие инструменты, как Angular, React, Redux, Webpack, Gulp, Express, Yii2.
p Данный сайт находится на реконструкции и скоро будет моим полноценным блогом
p Связаться со мной можно по электронной почте: #[a(href="mailto://stealracoon@gmail.com") stealracoon@gmail.com]
p webhooktest